@inject PluginSystem PluginSystem

<div style="padding: 8px 0;">
    <Tree TItem="object"
          BlockNode Selectable 
          Draggable="@(!IsReadOnly)"
          DefaultExpandedKeys="@(new[] { Context.Name })"
          OnDrop="@OnDrop">
        <PluginFolderNodeUI Context="Context" 
                            IsExpanded="true" 
                            IsReadOnly="@IsReadOnly" 
                            PluginFilter="@PluginFilter" 
                            OnPluginSelected="OnPluginSelected"></PluginFolderNodeUI>
    </Tree>
</div>

@code {
    [Parameter] public StringFolder Context { get; set; } = null!;
    [Parameter] public bool IsReadOnly { get; set; }
    [Parameter] public Func<string, bool>? PluginFilter { get; set; }
    [Parameter] public EventCallback<Type> OnPluginSelected { get; set; }

    void OnDrop(TreeEventArgs<object> obj)
    {
        if (IsReadOnly) return;
        if (obj.TargetNode.DataItem is not StringFolder targetContainer)
            return;

        StringFolder? sourceContainer = obj.Node.GetParentNode()?.DataItem as StringFolder;
        if (sourceContainer == null)
            return;

        if (obj.Node.DataItem is StringFolder pluginFolder)
        {
            sourceContainer.Folders.Remove(pluginFolder);
            targetContainer.Folders.Add(pluginFolder);
        }
        else if (obj.Node.DataItem is Type pluginType)
        {
            string pluginID = PluginSystem.GetPluginID(pluginType);
            sourceContainer.Strings.Remove(pluginID);
            targetContainer.Strings.Add(pluginID);
        }

        StateHasChanged();
    }
}
