@using System.Reflection
@inject PluginSystem PluginSystem

<TreeNode @ref="node"
          DataItem="@((object)Context)"
          Title="@(folderName)"
          Expanded="IsExpanded"
          Draggable="@(!IsReadOnly)"
          IsLeaf="@(Context.Folders.Count + Context.Strings.Count == 0)">
    <TitleTemplate>
        <Flex Justify="@(FlexJustify.SpaceBetween)" Align="@(FlexAlign.Center)">
            <Text Strong>@(Context.Name)</Text>
            @if (!IsReadOnly)
            {
                <Space>
                    <SpaceItem>
                        <Button Icon="@(IconType.Outline.Plus)" Size="@ButtonSize.Small" OnClick="OnCreate" Type="@ButtonType.Text"></Button>
                        @if (node.GetParentNode() != null)
                        {
                            <Button Icon="@(IconType.Outline.Minus)" Size="@ButtonSize.Small" OnClick="OnDelete" Type="@ButtonType.Text"></Button>
                            <Button Icon="@(IconType.Outline.Edit)" Size="@ButtonSize.Small" OnClick="OnRename" Type="@ButtonType.Text"></Button>
                            <Modal Title="重命名"
                                   @bind-Visible="renameWindow"
                                   OnOk="OnConfirmRename"
                                   OnCancel="OnCancelRename">
                                <Input @bind-Value="folderName"></Input>
                            </Modal>
                        }
                    </SpaceItem>
                </Space>
            }
        </Flex>
    </TitleTemplate>
    <ChildContent>
        @foreach (StringFolder folder in Context.Folders)
        {
            <PluginFolderNodeUI Context="folder" IsReadOnly="@IsReadOnly" PluginFilter="@PluginFilter" OnPluginSelected="OnPluginSelected" OnDeleted="StateHasChanged"></PluginFolderNodeUI>
        }
        @foreach (string pluginID in Context.Strings)
        {
            if (PluginFilter != null && !PluginFilter(pluginID)) continue;

            Type? pluginType = PluginSystem.GetPlugin(pluginID);
            if (pluginType == null)
            {
                <Alert Type="AlertType.Error">@($"不存在的插件：{pluginID}")</Alert>
                continue;
            }

            PluginAttribute pluginAttr = pluginType.GetCustomAttribute<PluginAttribute>()!;

            <TreeNode Key="@(pluginID)" DataItem="@((object)pluginType)">
                <TitleTemplate>
                    <div id="plugin-node-@(pluginType.Name)" style="cursor: pointer; padding: 4px; display: flex; align-items: center; gap: 8px; width: 100%;" 
                         @onclick="@(() => OnPluginSelected.InvokeAsync(pluginType))"
                         @onclick:stopPropagation>
                        <Icon Type="build" />
                        <Text>@pluginAttr.Name</Text>
                    </div>
                </TitleTemplate>
            </TreeNode>
        }
    </ChildContent>
</TreeNode>


@code {
    [Parameter] public StringFolder Context { get; set; } = null!;
    [Parameter] public bool IsExpanded { get; set; }
    [Parameter] public bool IsReadOnly { get; set; }
    [Parameter] public Func<string, bool>? PluginFilter { get; set; }
    [Parameter] public EventCallback<Type> OnPluginSelected { get; set; }
    [Parameter] public EventCallback OnDeleted { get; set; }

    TreeNode<object> node = null!;
    string folderName = null!;
    bool renameWindow;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        folderName = Context.Name;
    }

    void OnCreate()
    {
        if (IsReadOnly) return;
        Context.Folders.Add(new StringFolder("未命名分类"));
        IsExpanded = true;
    }
    void OnDelete()
    {
        if (IsReadOnly) return;
        StringFolder parent = (StringFolder)node.GetParentNode().DataItem;
        Context.Strings.ForEach(s => parent.Strings.Add(s));
        Context.Folders.ForEach(folder => parent.Folders.Add(folder));
        parent.Folders.Remove(Context);
        OnDeleted.InvokeAsync();
    }
    void OnRename()
    {
        if (IsReadOnly) return;
        renameWindow = true;
    }
    void OnConfirmRename()
    {
        Context.Name = folderName;
    }
    void OnCancelRename()
    {
        folderName = Context.Name;
    }
}
